com.viacron.utils.bbb.ByteByByte/.launch
com.viacron.utils.bbb.ByteByByte/bin
com.viacron.utils.bbb.ByteByByte/.project
com.viacron.utils.bbb.ByteByByte/.classpath
com.viacron.utils.bbb.ByteByByte/src-gen
com.viacron.utils.bbb.ByteByByte/xtend-gen

com.viacron.utils.bbb.ByteByByte.sdk/.project

com.viacron.utils.bbb.ByteByByte.tests/bin
com.viacron.utils.bbb.ByteByByte.tests/.project
com.viacron.utils.bbb.ByteByByte.tests/.classpath

com.viacron.utils.bbb.ByteByByte.ui/src-gen
com.viacron.utils.bbb.ByteByByte.ui/.project
com.viacron.utils.bbb.ByteByByte.ui/.classpath

GenGen/.settings
GenGen/.classpath
GenGen/.project
GenGen/bin

ByteByByteTester/.settings
ByteByByteTester/bin
ByteByByteTester/.classpath
ByteByByteTester/.project

Sandbox/.settings
Sandbox/bin
Sandbox/.classpath
Sandbox/.project

Ungenerate/.settings
Ungenerate/bin
Ungenerate/.classpath
Ungenerate/.project

.metadata

